.button {
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    color: #FAFAFA;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.button:disabled {
    background: #737373;
    cursor: not-allowed;
}

.primary {
    background: #3336ff;
}

.primary:hover {
    background: #2124c0;
}

.secondary {
    background: #FFFFFF02;
}
.secondary:hover {
    background: #FFFFFF1A;
}

.danger {
    background: #ff0000;
}

.danger:hover {
    background: #980000;
}

.md {
    height: 40px;
}

.lg {
    height: 48px;
}
